body {
    margin: 1px;
}

.header {
    text-align: center;
}

.grid {
    margin: auto;
    height: 500px;
    width: 500px;
    border: solid black 2px;
    display: grid;
}

.btnDiv {
    text-align: center;
    margin-top: 20px;
}

.box {
    margin: 0px;
    padding: 0px;
}