body {
    margin: 1px;
}

.header {
    text-align: center;
}

.mainContainer {
    margin: auto;
    width: 480px;
    border: solid black 2px;
}

.row {
    display: flex;
    height: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30px;
}